---
---

$header-z: 0;
$main-z: 1;

$footer-height: 50px;

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    height: 400px;
    z-index: $header-z;

    display: flex;
    flex-direction: row;

    .info {
      width: 400px;
    }

    .sample {
      width: 300px;
      display: block;
    }
  }

  main {
    flex: 1;
    z-index: $main-z;

    background: white;
  }

  footer {
    height: $footer-height;
    line-height: $footer-height;
    text-align: center;
  }
}
