---
---

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

$sans-serif-font: 'Lato', sans-serif;

$header-z: 0;
$main-z: 1;

$header-height: 650px;
$footer-height: 100px;

$text-color: #333;

$header-background: linear-gradient(to bottom,
                                    rgba(147,206,222,1) 0%,
                                    rgba(117,189,209,1) 50%,
                                    rgba(73,165,191,1) 100%);

$screen-background: rgb(117,189,209);

$footer-background: linear-gradient(to bottom,
                                    rgba(73,165,191,1) 100%,
                                    rgba(117,189,209,1) 50%,
                                    rgba(147,206,222,1) 0%);

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $sans-serif-font;
  color: $text-color;
}

.home {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  header {
    height: $header-height;
    z-index: $header-z;
    overflow: hidden;

    background: $header-background;

    .hero {
      margin: 0 auto;
      margin-top: 20px;
      width: 1000px;

      display: flex;
      flex-direction: row;

      .info {
        width: 400px;
        margin-top: 30px;

        .logo {
          width: 400px;
        }

        .desc {
          margin-top: 20px;
          font-size: 2.5em;
        }

        .social {
          margin-top: 20px;

          li {
            list-style-type: none;
            display: inline-block;
            font-size: 1.9em;
            padding-left: 15px;

            a {
              color: $text-color;
            }
          }

          &:before{
            content: "Share";
            font-weight: bold;
          }
        }

        .badges {
          margin-top: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;

          li {
            list-style-type: none;
            display: inline-block;

            &:not(:first-child) {
              margin-left: 15px;
            }

            img {
              width: 172px;
            }
          }
        }
      }

      .sample {
        width: 300px;
        display: block;

        .screen {
          img {
            width: 100%;
          }
        }
      }
    }
  }

  main {
    flex: 1;
    z-index: $main-z;

    background: white;
  }

  footer {
    height: $footer-height;
    line-height: $footer-height;
    text-align: center;

    background: $footer-background;
  }
}

a {
  text-decoration: none;
  font-weight: bold;
}

.features {
  margin: 25px auto;
  width: 900px;
  text-align: center;
  overflow: hidden;

  li {
    list-style-type: none;
    display: inline-block;
    float: left;
    width: 300px;
    padding: 25px;

    h2 {
      font-size: 1.1em;
      width: 100%;
    }
    .desc {
      margin-top: 15px;
      text-align: left;
    }

    &:hover {
      background: #f9f9f9;
    }
  }
}
