---
---

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

$sans-serif-font: 'Lato', sans-serif;

$header-z: 0;
$main-z: 1;

$header-height: 750px;
$footer-height: 100px;

$header-background: linear-gradient(to bottom,
                                    rgba(147,206,222,1) 0%,
                                    rgba(117,189,209,1) 50%,
                                    rgba(73,165,191,1) 100%);

$footer-background: linear-gradient(to bottom,
                                    rgba(73,165,191,1) 100%,
                                    rgba(117,189,209,1) 50%,
                                    rgba(147,206,222,1) 0%);

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $sans-serif-font;
}

.home {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  header {
    height: $header-height;
    z-index: $header-z;
    overflow: hidden;

    background: $header-background;

    .hero {
      margin: 0 auto;
      margin-top: 100px;
      width: 1000px;

      display: flex;
      flex-direction: row;

      .info {
        width: 400px;
        margin-top: 30px;

        h1 {
          font-size: 2.5em;
        }

        .desc {
          margin-top: 20px;
        }

        .badges {
          margin-top: 20px;

          li {
            list-style-type: none;
          }
        }
      }

      .sample {
        width: 300px;
        display: block;
      }
    }
  }

  main {
    flex: 1;
    z-index: $main-z;

    background: white;
  }

  footer {
    height: $footer-height;
    line-height: $footer-height;
    text-align: center;

    background: $footer-background;
  }
}

a {
  color: #e74c3c;
  text-decoration: none;
  font-weight: bold;
}

.features {
  margin: 0 auto;
  width: 600px;
  text-align: center;

  li {
    list-style-type: none;
    display: inline-block;
    width: 280px;
    padding: 25px;

    h2 {
      font-size: 1.2em;
    }
  }
}
